@use '../../scss/' as *;

.home{
    @include themify($themes){
        padding: 20px 70px;
        background-color: themed("bg3");
        min-height: 100vh;
        @include mobile{
            padding: 20px 10px;
        }
    
        @include tablet{
            padding: 20px;
        }
    }
}