$color-b1: #000000;
$color-b2: #16171b;
$color-b3: #1d1e24;
$color-b4: #20232b;
$color-b5: #3b3b3b;

$color-w1: #fff;
$color-w2: #e7e7e7;
$color-w3: #ededed;
$color-w4: #f0f0f0;
$color-w5: #bebebe;

$color-primary: #5852d6;

$red: #eb4d4b;

$border-radius: 20px;

$height-navbar: 80px;

$height-header-chat: 60px;
$height-input-chat: 115px;

$mobile-width: 900px;
$tablet-width: 1113px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;